<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924207924375-2hg6k232pjjspso7907bbbg1tnatuagh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924207924375-2hg6k232pjjspso7907bbbg1tnatuagh</string>
	<key>API_KEY</key>
	<string>AIzaSyC0q8SEWKAbUDzk6ZIRrl-AA6LBCHdomEc</string>
	<key>GCM_SENDER_ID</key>
	<string>924207924375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wizmirnet.net</string>
	<key>PROJECT_ID</key>
	<string>wizmirnet-807a7</string>
	<key>STORAGE_BUCKET</key>
	<string>wizmirnet-807a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924207924375:ios:d68b907ab2fa69f67195d2</string>
</dict>
</plist>